{
  "root": true,
  "extends": [
    "standard",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "react-hooks",
    "prettier",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid"
      },
      {
        "usePrettierrc": false
      }
    ],
    "object-shorthand": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true }
    ],
    "curly": [
      2,
      "all"
    ],
    "brace-style": [
      "error",
      "1tbs",
      { "allowSingleLine": false }
    ],
    "space-infix-ops": [
      "error",
      { "int32Hint": false }
    ],
    "no-multi-spaces": [
      "error"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "object-curly-spacing": [
      1,
      "always"
    ],
    "no-implicit-coercion": 2,
    "no-nested-ternary": 2,
    "no-var": 2,
    "react/prop-types": 0,
    "react/display-name": 0,
    // https://github.com/facebook/react/issues/18208
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "no-use-before-define": "warn",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/naming-convention": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "simple-import-sort/imports": ["error", {
      "groups": [
        ["^@?\\w.*\\u0000$", "^[^.].*\\u0000$", "^\\..*\\u0000$"],
        ["^\\u0000"],
        ["^react", "^@?\\w"],
        ["^(core|common|applications|api|libraries)(/.*|$)"],
        ["^"],
        ["^\\."]
      ]
    }],
    "max-params": ["warn", 2]
  }
}
